# ==========================
# Node.js
# ==========================
node_modules/

# ==========================
# Environment Files
# ==========================
server/.env
python-engine/.env

# ==========================
# Build Files
# ==========================
dist/
build/

# ==========================
# Uploads
# ==========================
server/uploads/

# ==========================
# Python
# ==========================
python-engine/venv/
python-engine/__pycache__/
*.pyc
python-engine/dataset/

# ==========================
# IDE
# ==========================
.vscode/

# ==========================
# OS Files
# ==========================
.DS_Store
Thumbs.db